.container-fluid{
    position: relative;
    overflow-x: hidden;
}
.nav-link.active {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-link:hover{
    border-bottom: 2px solid rgb(220, 84, 0);
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .5s ease;
}

.nav-link.active{
    border-bottom: 2px solid rgb(220, 84, 0);

}
.logo{
    width: 230px;
}
.typer-row{
    background-color: black;
}
.food{
    font-weight: 700;
    font-size: 50pt;
    color: rgb(220, 84, 0);
}

.centered {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.dinner{
    font-weight: 700;
    font-size: 50pt;
}
.appear{
    color: rgb(220, 84, 0);
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
}
.lorem{
    color: white;
    font-size: x-large;
}
.book{
    background-color: rgb(220, 84, 0);
    border: none;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    justify-content: center;
}
.book:hover{
    background-color: transparent;
    border: 2px solid rgb(220, 84, 0);
}
.scroll-button {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
    width: 62px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.scroll-button::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    animation: moveDown 2s infinite;
}

@keyframes moveDown {
    0% {
        top: 20%;
        opacity: 1;
    }
    90% {
        top: 40%;
        opacity: 1;
    }
    100% {
        top: 40%;
        opacity: 0;
    }
}

.about{
    background-color: gainsboro;
    padding-top: 50px;
    height: 580px;
}
.about-img{
    width: 450px;
    border: 15px solid white;
    border-radius: 50%;
}

.about-img2{
    border: 15px solid whitesmoke;
    border-radius: 50%;
    position: absolute;
    right: 95px;
}

.special{
    position: relative;
}

.special1{
    position: absolute;
    top: 300px;
    left: 50px;
}

.special2{
    position: absolute;
    top: 300px;
    left: 450px;
}

.special3{
    position: absolute;
    top: 300px;
    left: 840px;
}

.item1{
    width: 350px;
    height: 450px;
    border: 5px solid white;
}

.item2{
    width: 350px;
    height: 450px;
    border: 5px solid white;
}

.item3{
    width: 350px;
    height: 450px;
    border: 5px solid white;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 82%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid white;
}

.text{
    border: 2px solid white;
    width: 250px;
    height: 150px;
}

.specially:hover .prod1, .specially:hover .honey, .specially:hover .flower {
    opacity: 0.2;
}

.specially:hover .middle {
    opacity: 1;
}

.menu{
    color: rgb(220, 84, 0);
}

.menu-lorem{
    font-size: larger;
    width: 1200px;
    padding-left: 100px;
    padding-right: 50px;
}

.menu-items{
    background-color: gainsboro;
}

.starters{
    background-color: rgb(220, 84, 0);
    padding: 0%;
    padding-left: 80px;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}
.main-dish{
    padding: 0%;
    padding-left: 80px;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.dessert{
    padding: 0%;
    padding-left: 80px;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.drinks{
    padding: 0%;
    padding-left: 80px;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu-items2{
    background-color: gainsboro;
    position: relative;
}

.menu1{
    border-radius: 50%;
    border: 10px solid white;
    margin-top: 30px;
}

.garlic{
    padding-left: 15px;
    color: rgb(220, 84, 0);
}
.lorem1{
    text-align: justify;
    width: 430px;
    padding-left: 120px;
    margin-top: -50px;
}

.lorem2{
    text-align: justify;
    width: 430px;
    padding-left: 120px;
    margin-top: -50px;
}

.menu-category {
    display: none;
}

.menu-category.starter {
    display: block;
}

.show {
    display: block !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.active1 i {
    color: white !important;
}

.team{
    position: relative;
}

.fruit{
    height: 900px;
    width: 1500px;
}

.centered2 {
    position: absolute;
    top: 50px;
    left: 10px;
    text-align: center;
    height: 150px;
    width: 1230px;
}

.fb{
    border: 1px solid;
    border-radius: 50%;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.twit{
    border: 1px solid;
    border-radius: 50%;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.in{
    border: 1px solid;
    border-radius: 50%;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
  .card11:hover .cardbody11,
  .card11:hover .footer {
    background-color: rgba(220, 84, 0, 0.959);
  }

  .footer{
    background-color: white;
  }
  .cardbody11{
    background-color: white;
  }
  .card11:hover .twit,
  .card11:hover .fb, .card11:hover .in {
    background-color: white;
    border: none;
  }

  .card11:hover .cardbody11 {
    color: white !important;
  }


  .img {
    transition: filter 0.5s;
  }

  .card11:hover .img {
    filter: brightness(70%); /* Slightly reduce brightness */
  }

  .card11{
    border: none;
    outline: none;
    width: 400px !important;
  }

  .gallery1{
    width: 850px;
    height: 400px;
  }

  .gall2{
    padding-left: 55px;
  }

  .gallery2{
    width: 345px;
    height: 400px;
  }

  .second-gallery{
    margin-top: -40px;
  }
  .gallery3{
    width: 435px;
    height: 340px;
  }

  .gallery4{
    width: 410px;
    height: 340px;
  }

  .gallery5{
    width: 345px;
    height: 340px;
  }

  .gall4{
    padding-left: 45px;
  }

  .gall5{
    padding-left: 55px;
  }

  .gallery6{
    width: 435px;
    height: 400px;
  }

  .gall7{
    padding-left: 45px;
  }

  .gallery7{
    width: 764px;
    height: 400px;
  }

  .gallery8{
    width: 435px;
    height: 340px;
  }

  .gallery9{
    width: 405px;
    height: 340px;
  }

  .gallery10{
    width: 355px;
    height: 340px;
  }

  .gall9{
    padding-left: 45px;
  }

  .gall10{
    padding-left: 48px;
  }

  .middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.col22 {
    position: relative;
}

.col22:hover .gallery1, .col22:hover .gallery2, .col22:hover .gallery3, .col22:hover .gallery4, .col22:hover .gallery5, .col22:hover .gallery6, .col22:hover .gallery7 , .col22:hover .gallery8, .col22:hover .gallery9, .col22:hover .gallery10 {
    opacity: 0.2;
}

.col22:hover .middle1 {
    opacity: 1;
}
.blog-img{
    height: 750px;
}
.book1{
    background-color: rgb(220, 84, 0);
    border: none;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 300px; */
}
.book1:hover{
    background-color: transparent;
    border: 2px solid rgb(220, 84, 0);
}

.card-blog{
    border: none;
}

.p1, .p2, .p3{
    width: 210px;
    padding-left: 150px;
}
.card-header{
    background-color: rgb(220, 84, 0);
    padding: 10px;
}
.card-header1{
    background-color: rgb(237, 234, 234);
    padding: 15px;
}
.purchase{
    background-color: rgb(220, 84, 0);
    color: white;
    padding: 10px;
    width: 300px;
}
.pricing-cards{
    transition: transform 0.3s ease;
}
.pricing-cards:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-select:focus{
    box-shadow: none;
    outline: none;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
}
.table{
    font-weight: bold; 
    color: white; 
    border: none;
    padding: 20px;
    width: 250px;
    background-color: rgb(220, 84, 0);
}
.table:hover{
    color: black;
    background-color: white;
    border: 2px solid rgb(220, 84, 0);
}


.plane{
    color: white;
    background-color: rgb(220, 84, 0);
    font-size: x-large;
    padding: 15px;
    border: 2px solid;
    border-style: dotted;
    cursor: pointer;
}

.plane:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(220, 84, 0);
    border-style: dotted;
}

.email2{
    border: 2px solid gainsboro;
    border-style: dotted;
}

.logo2{
    padding-left: 400px;
}

.about-head{
    color: rgb(220, 84, 0);
    font-family: "Lobster", sans-serif;
}

.footer1{
    background-color: rgb(220, 84, 0);
    color: white;
}

.about-head1{
    color: rgb(220, 84, 0);
}









@media (min-width:320px) and (max-width:480px){
    .logo{
        width: 100px;
    }
    .centered {
        top: 130px;
        left: 50%;
        text-align: center;
      }
    
    .dinner{
        font-size: large;
    }

    .food{
        font-size: medium;
    }
    .appear{
        color: rgb(220, 84, 0);
        font-size: small;
    }
    .lorem{
        color: white;
        font-size: x-small;
        padding-left: 80px;
        padding-right: 80px;
    }
    .book{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .scroll-button{
        display: none;
    }
    
    .about{
        height: fit-content;
    }
    .about-img{
        width: 250px;
    }
    
    .about-img2{
        right: 0px;
    }

    .special{
        margin-top: 0px;
    }

    .menu-row{
        margin-top: 1500px !important;
    }
    
    .special1{
        top: 270px;
        left: 10px;
    }
    
    .special2{
        top: 750px;
        left: 10px;
    }
    
    .special3{
        top: 1230px;
        left: 10px;
    }
    .special-lorem{
        font-size: medium !important;
    }

    .item1{
        width: fit-content;
    }
    
    .item2{
        width: fit-content;
    }
    
    .item3{
        width: fit-content;
    }
    .menu-lorem{
        padding-left: 50px;
        padding-right: 50px;
    }
    .starters{
        padding-left: 0px;
        text-align: center;
    }
    .main-dish{
        padding-left: 0px;
        text-align: center;
    }

    .dessert{
        padding-left: 0px;
        text-align: center;
    }
    .drinks{
        padding-left: 0px;
        text-align: center;
    }

    .lorem1{
        padding-left: 115px;
        padding-right: 40px;
    }
    
    .lorem2{
        padding-left: 115px;
        padding-right: 40px;
    }
    .fruit{
        height: fit-content;
    }
    .centered2{
        left: 0px;

    }
    .centered2 p{
        font-size: smaller !important;
    }
    .card11{
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 380px !important;
    }
    .gallery-row{
        margin-top: 2000px !important;
    }

    .blog-row{
        margin-top: 200px;
    }
    .gallery1{
        width: 320px;
        height: 300px;
      }
    
      .gall2{
        padding-left: 13px;
        margin-top: 20px;
      }
    
      .gallery2{
        width: 320px;
      }

      .gallery3{
        width: 320px;
        margin-top: 20px;
      }
    
      .gallery4{
        width: 320px;
        margin-top: 20px;
      }
    
      .gallery5{
        width: 320px;
        margin-top: 20px;
      }
    
      .gall4{
        padding-left: 13px;
      }
    
      .gall5{
        padding-left: 13px;
      }
    
      .gallery6{
        width: 320px;
        margin-top: 20px;
      }
    
      .gall7{
        padding-left: 13px;
      }
    
      .gallery7{
        width: 320px;
        margin-top: 20px;
      }
    
      .gallery8{
        width: 320px;
        margin-top: 20px;
      }
    
      .gallery9{
        width: 320px;
        margin-top: 20px;
      }
    
      .gallery10{
        width: 320px;
        margin-top: 20px;
      }
    
      .gall9{
        padding-left: 13px;
      }
    
      .gall10{
        padding-left: 15px;
      }

      .blog-img{
        height: 2150px;
      }

      .blogging-cards{
        margin-top: 40px !important;
      }
    .pricing-row{
        margin-top: 100px;
    }

    .footer-row{
        margin-top: 2px;
    }
    .news-img{
        height: 320px;
    }

    .footer-img{
        height: 950px;
    }

    .listing{
        margin-top: 40px;
    }

    .logo2{
        padding-left: 0px !important;
    }

    .purchase{
        width: 250px;
    }
}
/* @media (min-width: 576px) and (max-width: 767.98px){
    .sliders{
        margin-top: 60px;
    }
    .laptop{
        width: 510px;
    }
    #myBtnContainer{
        padding-left: 130px;
    }
    .footer-icon{
        padding-left: 200px;
    }
    .line8{
        left: 50px;
        width: 500px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .laptop{
        width: 380px;
    }
    #myBtnContainer{
        padding-left: 200px;
    }
    .footer-icon{
        padding-left: 300px;
    }
    .line8{
        left: 90px;
        width: 600px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .laptop{
        width: 480px;
    }
    #myBtnContainer{
        padding-left: 350px;
    }
    .footer-icon{
        padding-left: 400px;
    }
    .line8{
        left: 140px;
        width: 700px;
    }
}
@media (min-width: 1400px){
    .laptop{
        width: 650px;
    }
    .footer-icon{
        padding-left: 600px;
    }
    .line8{
        left: 350px;
        width: 700px;
    }
}
@media (min-width: 1500px){
    .caption h1{
        font-size: 45pt;
    }
    .caption p{
        font-size: 25pt;
    }
    .read{
        font-size: x-large;
    }
    .about h3{
        font-size: 25pt;
    }
    .about p{
        font-size: larger;
    }
    .ptags p{
        font-size: 18pt;
    }
    .more{
        font-size: x-large;
    }
    .arrow{
        font-size: 25pt;
    }
    .before-col h4{
        font-size: 25pt;
    }
    .before-col p{
        font-size: 18pt;
    }
    .call-to-action {
        font-size: 16pt;
    }
    .call-to-action h3{
        font-size: 28pt;
    }
    .service h3, .testimonial h3, .price h3, .FAQ h3, .team-members h3, .footer h3{
        font-size: 25pt;
    }
    .service p, .testimonial p, .price p, .FAQ p, .team-members p, .footer p{
        font-size: larger;
    }
    .line2{
        left: 220px;
    }
    .line3{
        left: 150px;
    }
    .card h5{
        font-size: xx-large;
    }
    .card h6{
        font-size: larger;
    }
    .card p{
        font-size: x-large;
    }
    .firstcol p{
        font-size: 16pt;
    }
    .laptop{
        width: 710px;
    }
    #myBtnContainer{
        padding-left: 600px;
    }
    #myBtnContainer .btn{
        font-size: x-large;
    }
   .card-footer a{
    font-size: larger;
   }
    .card-body li{
        font-size: x-large;
    }
    .acc-button, .acc-body{
        font-size: x-large;
    }
    .card1, .card2, .card3, .card4{
        width: 21rem;
    }
    .emp1{
        height: 312px;
    }
    .emp4{
        height: 312px;
    }
    .middle1{
        bottom: 110px;
    }
    .contacting{
        font-size: larger;
    }
    .line7{
        left: 170px;
    }
   
    .footer-icon{
        padding-left: 650px;
    }
    .line8{
        left: 400px;
        width: 700px;
    } 
}
@media (min-width: 1600px){
    .caption h1{
        font-size: 45pt;
    }
    .caption p{
        font-size: 25pt;
    }
    .read{
        font-size: x-large;
    }
    .about h3{
        font-size: 25pt;
    }
    .about p{
        font-size: larger;
    }
    .ptags p{
        font-size: 18pt;
    }
    .more{
        font-size: x-large;
    }
    .arrow{
        font-size: 25pt;
    }
    .before-col h4{
        font-size: 25pt;
    }
    .before-col p{
        font-size: 18pt;
    }
    .call-to-action {
        font-size: 16pt;
    }
    .call-to-action h3{
        font-size: 28pt;
    }
    .service h3, .testimonial h3, .price h3, .FAQ h3, .team-members h3, .footer h3{
        font-size: 25pt;
    }
    .service p, .testimonial p, .price p, .FAQ p, .team-members p, .footer p{
        font-size: larger;
    }
    .line2{
        left: 220px;
    }
    .line3{
        left: 150px;
    }
    .card h5{
        font-size: xx-large;
    }
    .card h6{
        font-size: larger;
    }
    .card p{
        font-size: x-large;
    }
    .firstcol p{
        font-size: 16pt;
    }
    .laptop{
        width: 710px;
    }
    #myBtnContainer{
        padding-left: 600px;
    }
    #myBtnContainer .btn{
        font-size: x-large;
    }
   .card-footer a{
    font-size: larger;
   }
    .card-body li{
        font-size: x-large;
    }
    .acc-button, .acc-body{
        font-size: x-large;
    }
    .card1, .card2, .card3, .card4{
        width: 23rem;
    }
    .emp1{
        height: 343px;
    }
    .emp4{
        height: 343px;
    }
    .middle1{
        bottom: 110px;
    }
    .contacting{
        font-size: larger;
    }
    .line7{
        left: 170px;
    }
   
    .footer-icon{
        padding-left: 700px;
    }
    .line8{
        left: 400px;
        width: 700px;
    } 
}
@media (min-width: 1700px){  
    .footer-icon{
        padding-left: 750px;
    }
}
@media (min-width: 1800px){
    .carousel-item{
        height: 750px;
    }
    .card1, .card2, .card3, .card4{
        width: 26rem;
    }
    .emp1{
        height: 390px;
    }
    .emp4{
        height: 390px;
    }
    .footer-icon{
        padding-left: 800px;
    }
    .line8{
        width: 900px;
        left: 450px;
    }
}    
@media (min-width: 1900px){
    .caption{
        padding-bottom: 180px;
    }
    .read{
        font-size: xx-large;
    }
    .laptop{
        width: 900px;
    }
    .carousel-item{
        height: 800px;
    }
    .card1, .card2, .card3, .card4{
        width: 27rem;
    }
    .emp1{
        height: 405px;
    }
    .emp4{
        height: 405px;
    }
    .footer-icon{
        padding-left: 850px;
    }
    .line8{
        left: 480px;
    }
}   
@media (min-width:2000px) and (max-width: 2200px){
     .carousel-item{
        height: 900px;
     }
    .laptop{
        width: 950px;
    }
    .caption h1{
        font-size: 65pt;
    }
    .caption p{
        font-size: 30pt;
    }
    .read{
        font-size: 30pt;
    }
    .about h3{
        font-size: 35pt;
    }
    .about p{
        font-size: xx-large;
    }
    .ptags p{
        font-size: 25pt;
    }
    .more{
        font-size: 30pt;
    }
    .box1 h3{
        font-size: 30pt;
    }
    .box2 h3{
        font-size: 30pt;
    }
    .box3 h3{
        font-size: 30pt;
    }
    .box4 h3{
        font-size: 30pt;
    }
    .arrow{
        font-size: 25pt;
    }
    .before-col h4{
        font-size: 35pt;
    }
    .before-col p{
        font-size: 25pt;
    }
    .call-to-action {
        font-size: 23pt;
    }
    .call-to-action h3{
        font-size: 38pt;
    }
    .service h3, .testimonial h3, .price h3, .faq h3, .team-members h3, .footer h3, .port h3, .blog h3{
        font-size: 35pt;
    }
    .service p, .testimonial p, .price p, .faq p, .team-members p, .footer p, .port p, .blog p{
        font-size: xx-large;
    }
    .card h5{
        font-size: 30pt;
    }
    .card h6{
        font-size: xx-large;
    }
    .card p{
        font-size: 25pt;
    }
    .firstcol h3{
        font-size: 35pt;
    }
    .firstcol p{
        font-size: 25pt;
    }
    #myBtnContainer .btn{
        font-size: x-large;
    }
    #myBtnContainer{
        margin-left: 130px;
    }
   .card-footer a{
    font-size: xx-large;
   }
    .card-body li{
        font-size: xx-large;
    }
    .headers{
        font-size: 30pt;
    }
    .ribbon span{
        font-size: larger;
    }
    .acc-button, .acc-body{
        font-size: 28pt;
    }
    .card1, .card2, .card3, .card4{
        width: 29rem;
    }
    .emp1{
        height: 435px;
    }
    .emp4{
        height: 435px;
    }
    .smalltext{
        font-size: 20pt;
    }
    .contacting{
        font-size: xx-large;
    }
    .contact h5{
        font-size: 30pt;
    }
    .send{
        width: 300px;
    }
    .footer-icon{
        padding-left: 800px;
        font-size: 35pt;
    }
    .line8{
        left: 450px;
        width: 1100px;
        margin-top: 380px;
    } 
    .after{
        margin-left: 400px;
    }
    .line{
        left: 180px;
        margin-top: 200px;
    }
    .line1{
        left: 200px;
    }
    .line2{
        left: 250px;
    }
    .line3{
        left: 200px;
    }
    .line4{
        left: 550px;
    }
    .line5{
        left: 170px;
    }
    .line6{
        left: 300px;
    }
    .line7{
        left: 250px;
    }
    .box1 .binoculars{
        font-size: 40pt;
    }
    .box2 .cube{
        font-size: 40pt;
    }
    .box3 .sun{
        font-size: 40pt;
    }
    .box4 .command{
        font-size: 50pt;
    }
    .check{
        font-size: 30pt;
    }
    .money, .calendar, .bars{
        font-size: 50pt;
    }
    .review span{
        font-size: 25pt;
    }
    .middle1{
        bottom: 150px;
    }
    .footer-icon a i{
        font-size: 35pt;
    }
}
@media (min-width: 2300px) and (max-width: 2400px){
    .carousel-item{
        height: 950px;
    }
    .laptop{
        width: 1100px;
    }
    .caption h1{
        font-size: 65pt;
    }
    .caption p{
        font-size: 30pt;
    }
    .read{
        font-size: 30pt;
    }
    .about h3{
        font-size: 35pt;
    }
    .about p{
        font-size: xx-large;
    }
    .ptags p{
        font-size: 25pt;
    }
    .more{
        font-size: 30pt;
    }
    .box1 h3{
        font-size: 30pt;
    }
    .box2 h3{
        font-size: 30pt;
    }
    .box3 h3{
        font-size: 30pt;
    }
    .box4 h3{
        font-size: 30pt;
    }
    .arrow{
        font-size: 25pt;
    }
    .before-col h4{
        font-size: 35pt;
    }
    .before-col p{
        font-size: 25pt;
    }
    .call-to-action {
        font-size: 23pt;
    }
    .call-to-action h3{
        font-size: 38pt;
    }
    .service h3, .testimonial h3, .price h3, .faq h3, .team-members h3, .footer h3, .port h3, .blog h3{
        font-size: 35pt;
    }
    .service p, .testimonial p, .price p, .faq p, .team-members p, .footer p, .port p, .blog p{
        font-size: xx-large;
    }
    .card h5{
        font-size: 30pt;
    }
    .card h6{
        font-size: xx-large;
    }
    .card p{
        font-size: 25pt;
    }
    .firstcol h3{
        font-size: 35pt;
    }
    .firstcol p{
        font-size: 25pt;
    }
    #myBtnContainer .btn{
        font-size: x-large;
    }
    .card-footer a{
        font-size: xx-large;
       }
    .card-body li{
        font-size: xx-large;
    }
    .headers{
        font-size: 30pt;
    }
    .ribbon span{
        font-size: larger;
    }
    .acc-button, .acc-body{
        font-size: 28pt;
    }
    .smalltext{
        font-size: 20pt;
    }
    .contacting{
        font-size: xx-large;
    }
    .contact h5{
        font-size: 30pt;
    }
    .box1 .binoculars{
        font-size: 40pt;
    }
    .box2 .cube{
        font-size: 40pt;
    }
    .box3 .sun{
        font-size: 40pt;
    }
    .box4 .command{
        font-size: 50pt;
    }
    .check{
        font-size: 30pt;
    }
    .money, .calendar, .bars{
        font-size: 50pt;
    }
    .review span{
        font-size: 25pt;
    }
    .footer-icon a i{
        font-size: 35pt;
    }
    .main{
        max-width: 2200px;
    }
    #myBtnContainer .btn{
        font-size: 25pt;
    }
    #myBtnContainer{
        padding-left: 900px;
    }
    .after{
        padding-left: 100px;
    }
    .chair, .lamp , .honey, .flower, .glasses, .camera, .watch, .wheat, .prod1{
        width: 600px;
        height: 500px;
    }
    .card1, .card2, .card3, .card4{
        width: 34rem;
    }
    .emp1{
        height: 518px;
    }
    .emp4{
        height: 518px;
    }
    .middle1{
        bottom: 130px;
    }
    .sizing{
        font-size: xx-large;
    }
    .middle1 a{
        font-size: xx-large;
    }
    .send{
        width: 300px;
    }
    .footer-icon{
        padding-left: 980px;
        font-size: 35pt;
    }
    .line{
        left: 180px;
    }
    .line1{
        left: 200px;
    }
    .line2{
        left: 250px;
    }
    .line3{
        left: 200px;
    }
    .line4{
        left: 550px;
    }
    .line5{
        left: 170px;
    }
    .line6{
        left: 300px;
    }
    .line7{
        left: 250px;
    }
    .line8{
        left: 540px;
        width: 1200px;
        margin-top: 380px;
    } 
    .nav-link.active{
        font-size: 20pt;
    }
    .nav-link{
        font-size: 20pt;
        margin-left: 50px !important;
    }
    .nav-cont .selecao{
        font-size: 35pt !important;
    }
    input{
        height: 80px;
    }
}
@media (min-width: 2500px) and (max-width: 2600px){
    .carousel-item{
        height: 1100px;
    }
    .laptop{
        width: 1250px;
    }
    .caption h1{
        font-size: 65pt;
    }
    .caption p{
        font-size: 30pt;
    }
    .read{
        font-size: 30pt;
    }
    .about h3{
        font-size: 35pt;
    }
    .about p{
        font-size: xx-large;
    }
    .ptags p{
        font-size: 25pt;
    }
    .more{
        font-size: 30pt;
    }
    .box1 h3{
        font-size: 30pt;
    }
    .box2 h3{
        font-size: 30pt;
    }
    .box3 h3{
        font-size: 30pt;
    }
    .box4 h3{
        font-size: 30pt;
    }
    .arrow{
        font-size: 25pt;
    }
    .before-col h4{
        font-size: 35pt;
    }
    .before-col p{
        font-size: 25pt;
    }
    .call-to-action {
        font-size: 23pt;
    }
    .call-to-action h3{
        font-size: 38pt;
    }
    .service h3, .testimonial h3, .price h3, .faq h3, .team-members h3, .footer h3, .port h3, .blog h3{
        font-size: 35pt;
    }
    .service p, .testimonial p, .price p, .faq p, .team-members p, .footer p, .port p, .blog p{
        font-size: xx-large;
    }
    .card h5{
        font-size: 30pt;
    }
    .card h6{
        font-size: xx-large;
    }
    .card p{
        font-size: 25pt;
    }
    .firstcol h3{
        font-size: 35pt;
    }
    .firstcol p{
        font-size: 25pt;
    }
    #myBtnContainer .btn{
        font-size: x-large;
    }
    .card-footer a{
        font-size: xx-large;
       }
    .card-body li{
        font-size: xx-large;
    }
    .headers{
        font-size: 30pt;
    }
    .ribbon span{
        font-size: larger;
    }
    .acc-button, .acc-body{
        font-size: 28pt;
    }
    .smalltext{
        font-size: 20pt;
    }
    .contacting{
        font-size: xx-large;
    }
    .contact h5{
        font-size: 30pt;
    }
    .box1 .binoculars{
        font-size: 40pt;
    }
    .box2 .cube{
        font-size: 40pt;
    }
    .box3 .sun{
        font-size: 40pt;
    }
    .box4 .command{
        font-size: 50pt;
    }
    .check{
        font-size: 30pt;
    }
    .money, .calendar, .bars{
        font-size: 50pt;
    }
    .review span{
        font-size: 25pt;
    }
    .footer-icon a i{
        font-size: 35pt;
    }
    .main{
        max-width: 2200px;
    }
    #myBtnContainer .btn{
        font-size: 25pt;
    }
    #myBtnContainer{
        padding-left: 900px;
    }
    .after{
        padding-left: 200px;
    }
    .chair, .lamp , .honey, .flower, .glasses, .camera, .watch, .wheat, .prod1{
        width: 600px;
        height: 500px;
    }
    .card1, .card2, .card3, .card4{
        width: 38rem;
    }
    .emp1{
        height: 580px;
    }
    .emp4{
        height: 580px;
    }
    .middle1{
        bottom: 150px;
    }
    .text1{
        width: 400px;
    }
    .sizing{
        font-size: 40px;
    }
    .middle1 a{
        font-size: 40px;
    }
    .send{
        width: 300px;
    }
    .footer-icon{
        padding-left: 1130px;
        font-size: 35pt;
    }
    .line{
        left: 180px;
    }
    .line1{
        left: 200px;
    }
    .line2{
        left: 250px;
    }
    .line3{
        left: 200px;
    }
    .line4{
        left: 550px;
    }
    .line5{
        left: 170px;
    }
    .line6{
        left: 300px;
    }
    .line7{
        left: 250px;
    }
    .line8{
        left: 630px;
        width: 1300px;
        margin-top: 380px;
    } 
    .nav-link.active{
        font-size: 20pt;
    }
    .nav-link{
        font-size: 20pt;
        margin-left: 50px !important;
    }
    .nav-cont .selecao{
        font-size: 35pt !important;
    }
    input{
        height: 80px;
    }
}
@media (min-width: 2700px) and (max-width: 2800px){
    .carousel-item{
        height: 1200px;
    }
    .laptop{
        width: 1300px;
    }
    .caption{
        padding-bottom: 300px;
    }
    .caption h1{
        font-size: 70pt;
    }
    .caption p{
        font-size: 35pt;
    }
    .read{
        font-size: 35pt;
    }
    .about h3{
        font-size: 40pt;
    }
    .about p{
        font-size: 30pt;
    }
    .ptags p{
        font-size: 30pt;
    }
    .more{
        font-size: 35pt;
    }
    .box1 h3{
        font-size: 40pt;
    }
    .box2 h3{
        font-size: 40pt;
    }
    .box3 h3{
        font-size: 40pt;
    }
    .box4 h3{
        font-size: 40pt;
    }
    .arrow{
        font-size: 25pt;
    }
    .before-col h4{
        font-size: 40pt;
    }
    .before-col p{
        font-size: 30pt;
    }
    .call-to-action {
        font-size: 30pt;
    }
    .call-to-action h3{
        font-size: 43pt;
    }
    .service h3, .testimonial h3, .price h3, .faq h3, .team-members h3, .footer h3, .port h3, .blog h3{
        font-size: 40pt;
    }
    .service p, .testimonial p, .price p, .faq p, .team-members p, .footer p, .port p, .blog p{
        font-size: 30pt;
    }
    .card h5{
        font-size: 30pt;
    }
    .card h6{
        font-size: xx-large;
    }
    .card p{
        font-size: 28pt;
    }
    .firstcol h3{
        font-size: 40pt;
    }
    .firstcol p{
        font-size: 30pt;
    }
    #myBtnContainer .btn{
        font-size: 30pt;
    }
    .card-footer a{
        font-size: 30pt;
       }
    .card-body li{
        font-size: 30pt;
    }
    .headers{
        font-size: 35pt;
    }
    .ribbon span{
        font-size: larger;
    }
    .acc-button, .acc-body{
        font-size: 30pt;
    }
    .smalltext{
        font-size: 20pt;
    }
    .contacting{
        font-size: xx-large;
    }
    .contacting h3{
        font-size: 40pt;
    }
    .contacting p{
        font-size: 30pt;
    }
    .contact h5{
        font-size: 35pt;
    }
    .box1 .binoculars{
        font-size: 40pt;
    }
    .box2 .cube{
        font-size: 40pt;
    }
    .box3 .sun{
        font-size: 40pt;
    }
    .box4 .command{
        font-size: 50pt;
    }
    .check{
        font-size: 30pt;
    }
    .money, .calendar, .bars{
        font-size: 50pt;
    }
    .review span{
        font-size: 25pt;
    }
    .footer-icon a i{
        font-size: 35pt;
    }
    .main{
        max-width: 2200px;
    }
    #myBtnContainer .btn{
        font-size: 25pt;
    }
    #myBtnContainer{
        padding-left: 900px;
    }
    .after{
        padding-left: 300px;
    }
    .chair, .lamp , .honey, .flower, .glasses, .camera, .watch, .wheat, .prod1{
        width: 600px;
        height: 500px;
    }
    .card1, .card2, .card3, .card4{
        width: 40rem;
    }
    .emp1{
        height: 613px;
    }
    .emp4{
        height: 613px;
    }
    .middle1{
        bottom: 150px;
    }
    .text1{
        width: 400px;
    }
    .sizing{
        font-size: 40px;
    }
    .middle1 a{
        font-size: 40px;
    }
    .send{
        width: 300px;
    }
    .footer-icon{
        padding-left: 1170px;
        font-size: 35pt;
    }
    .line{
        left: 180px;
    }
    .line1{
        left: 200px;
    }
    .line2{
        left: 250px;
    }
    .line3{
        left: 200px;
    }
    .line4{
        left: 550px;
    }
    .line5{
        left: 170px;
    }
    .line6{
        left: 300px;
    }
    .line7{
        left: 250px;
    }
    .line8{
        left: 630px;
        width: 1300px;
        margin-top: 380px;
    } 
    .nav-link.active{
        font-size: 20pt;
    }
    .nav-link{
        font-size: 20pt;
        margin-left: 50px !important;
    }
    .nav-cont .selecao{
        font-size: 35pt !important;
    }
    input{
        height: 80px;
    }
}
@media (min-width: 2900px) and (max-width: 3000px){
    .carousel-item{
        height: 1300px;
    }
    .laptop{
        width: 1450px;
    }
    .caption{
        padding-bottom: 300px;
    }
    .caption h1{
        font-size: 70pt;
    }
    .caption p{
        font-size: 35pt;
    }
    .read{
        font-size: 35pt;
    }
    .about h3{
        font-size: 40pt;
    }
    .about p{
        font-size: 30pt;
    }
    .ptags p{
        font-size: 30pt;
    }
    .more{
        font-size: 35pt;
    }
    .box1 h3{
        font-size: 40pt;
    }
    .box2 h3{
        font-size: 40pt;
    }
    .box3 h3{
        font-size: 40pt;
    }
    .box4 h3{
        font-size: 40pt;
    }
    
    .arrow{
        font-size: 25pt;
    }
    .before-col h4{
        font-size: 40pt;
    }
    .before-col p{
        font-size: 30pt;
    }
    .call-to-action {
        font-size: 30pt;
    }
    .call-to-action h3{
        font-size: 43pt;
    }
    .service h3, .testimonial h3, .price h3, .faq h3, .team-members h3, .footer h3, .port h3, .blog h3{
        font-size: 40pt;
    }
    .service p, .testimonial p, .price p, .faq p, .team-members p, .footer p, .port p, .blog p{
        font-size: 30pt;
    }
    .card h5{
        font-size: 30pt;
    }
    .card h6{
        font-size: xx-large;
    }
    .card p{
        font-size: 28pt;
    }
    .firstcol h3{
        font-size: 40pt;
    }
    .firstcol p{
        font-size: 30pt;
    }
    #myBtnContainer .btn{
        font-size: 30pt;
    }
    .card-footer a{
        font-size: 30pt;
       }
    .card-body li{
        font-size: 30pt;
    }
    .headers{
        font-size: 35pt;
    }
    .ribbon span{
        font-size: larger;
    }
    .acc-button, .acc-body{
        font-size: 30pt;
    }
    .smalltext{
        font-size: 20pt;
    }
    .contacting{
        font-size: xx-large;
    }
    .contacting h3{
        font-size: 40pt;
    }
    .contacting p{
        font-size: 30pt;
    }
    .contact h5{
        font-size: 35pt;
    }
    .box1 .binoculars{
        font-size: 50pt ;
    }
    .box2 .cube{
        font-size: 50pt ;
    }
    .box3 .sun{
        font-size: 50pt ;
    }
    .box4 .command{
        font-size: 60pt ;
    }
    .check{
        font-size: 50px ;
    }
    .money, .calendar, .bars{
        font-size: 60pt ;
    }
    .circle1 .circle{
        font-size: 50px;
    }
    .review span{
        font-size: 25pt;
    }
    .footer-icon a i{
        font-size: 35pt;
    }
    .main{
        max-width: 2800px;
    }
    #myBtnContainer .btn{
        font-size: 35pt;
    }
    #myBtnContainer{
        padding-left: 1100px;
    }
    .after{
        padding-left: 250px;
    }
    .chair, .lamp , .honey, .flower, .glasses, .camera, .watch, .wheat, .prod1{
        width: 800px;
        height: 700px;
    }
    .card1, .card2, .card3, .card4{
        width: 45rem;
    }
    .emp1{
        height: 690px;
    }
    .emp4{
        height: 690px;
    }
    .middle1{
        bottom: 150px;
    }
    .text1{
        width: 400px;
    }
    .sizing{
        font-size: 40px;
    }
    .middle1 a{
        font-size: 40px;
    }
    .send{
        width: 300px;
    }
    .footer-icon{
        padding-left: 1320px;
        font-size: 35pt;
    }
    .line{
        left: 190px;
    }
    .line1{
        left: 220px;
    }
    .line2{
        left: 290px;
    }
    .line3{
        left: 250px;
    }
    .line4{
        left: 570px;
    }
    .line5{
        left: 190px;
    }
    .line6{
        left: 350px;
    }
    .line7{
        left: 270px;
    }
    .line8{
        left: 680px;
        width: 1600px;
        margin-top: 380px;
    } 
    .nav-link.active{
        font-size: 20pt;
    }
    .nav-link{
        font-size: 20pt;
        margin-left: 50px !important;
    }
    .nav-cont .selecao{
        font-size: 35pt !important;
    }
    input{
        height: 80px;
    }
} */
