.container-fluid{
    position: relative;
    overflow-x: hidden;
}

.logo{
    width: 200px;
}

.nav-link:hover{
    border-bottom: 2px solid rgb(220, 84, 0);
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .5s ease;
}

.nav-link.active{
    border-bottom: 2px solid rgb(220, 84, 0);

}

.typer-row{
    background-color: black;
}

.overlay1{
    margin-top: 100px;
}
.food{
    font-weight: 700;
    font-size: 50pt;
    color: rgb(220, 84, 0);
}

.dinner{
    font-weight: 700;
    font-size: 50pt;
}

.appear{
    color: rgb(220, 84, 0);
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
}

.lorem{
    color: white;
    font-size: x-large;
}

.book{
    background-color: rgb(220, 84, 0);
    border: none;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: larger;
}

.book:hover{
    background-color: transparent;
    border: 2px solid rgb(220, 84, 0);
}

.scroll-button {
    position: absolute;
    top: 390px;
    left: 50%;
    transform: translateX(-50%);
    width: 62px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.scroll-button::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    animation: moveDown 2s infinite;
}

@keyframes moveDown {
    0% {
        top: 20%;
        opacity: 1;
    }
    90% {
        top: 40%;
        opacity: 1;
    }
    100% {
        top: 40%;
        opacity: 0;
    }
}
.about{
    background-color: gainsboro;
    padding-top: 50px;
    height: 580px;
}
.about-img{
    width: 450px;
    border: 15px solid white;
    border-radius: 50%;
}

.about-img2{
    border: 15px solid whitesmoke;
    border-radius: 50%;
    position: absolute;
    right: 95px;
}

.special{
    position: relative;
}

.special1{
    position: absolute;
    /* top: 300px; */
    left: 50px;
}

.special2{
    position: absolute;
    /* top: 300px; */
    left: 450px;
}

.special3{
    position: absolute;
    /* top: 300px; */
    left: 840px;
}

.item1{
    /* width: 350px; */
    /* height: 450px; */
    border: 5px solid white;
}

.item2{
    /* width: 350px; */
    /* height: 450px; */
    border: 5px solid white;
}

.item3{
    /* width: 350px; */
    /* height: 450px; */
    border: 5px solid white;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 3px solid white;
}

.text{
    border: 2px solid white;
    width: 250px;
    height: 150px;
}

.specially:hover .prod1, .specially:hover .honey, .specially:hover .flower {
    opacity: 0.2;
}

.specially:hover .middle {
    opacity: 1;
}


.menu{
    color: rgb(220, 84, 0);
}

.menu-lorem{
    font-size: larger;
    padding-left: 100px;
    padding-right: 50px;
}

.menu-items{
    background-color: gainsboro;
}

.starters{
    background-color: rgb(220, 84, 0);
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}
.main-dish{
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.dessert{
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.drinks{
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.menu-items2{
    background-color: gainsboro;
}

.menu1{
    border-radius: 50%;
    border: 10px solid white;
    /* margin-top: 30px; */
}

.garlic{
    color: rgb(220, 84, 0);
}
.lorem1{
    text-align: justify;
    /* width: 430px; */
    padding-left: 105px;
    margin-top: -20px;
}

.lorem2{
    text-align: justify;
    /* width: 430px; */
    padding-left: 105px;
    margin-top: -20px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.team{
    position: relative;
}
/* 
.fruit{
    height: 900px;
    width: 1500px;
} */

/* .centered2 {
    position: absolute;
    top: 50px;
    left: 10px;
    text-align: center;
    height: 150px;
    width: 1230px;
} */

.fb{
    border: 1px solid;
    border-radius: 50%;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.twit{
    border: 1px solid;
    border-radius: 50%;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.in{
    border: 1px solid;
    border-radius: 50%;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
  .card11:hover .cardbody11,
  .card11:hover .footer {
    background-color: rgba(220, 84, 0, 0.959);
  }

  .footer{
    background-color: white;
  }
  .cardbody11{
    background-color: white;
  }
  .card11:hover .twit,
  .card11:hover .fb, .card11:hover .in {
    background-color: white;
    border: none;
  }

  .card11:hover .cardbody11 {
    color: white;
  }


  .img {
    transition: filter 0.5s;
  }

  .card11:hover .img {
    filter: brightness(70%);
  }

  .card11{
    border: none;
    outline: none;
    width: 400px;
  }

  .gallery1{
    width: 850px;
    height: 400px;
  }

  .gall2{
    padding-left: 55px;
  }

  .gallery2{
    width: 345px;
    height: 400px;
  }

  .second-gallery{
    margin-top: -40px;
  }
  .gallery3{
    width: 435px;
    height: 340px;
  }

  .gallery4{
    width: 410px;
    height: 340px;
  }

  .gallery5{
    width: 345px;
    height: 340px;
  }

  .gall4{
    padding-left: 45px;
  }

  .gall5{
    padding-left: 55px;
  }

  .gallery6{
    width: 435px;
    height: 400px;
  }

  .gall7{
    padding-left: 45px;
  }

  .gallery7{
    width: 764px;
    height: 400px;
  }

  .gallery8{
    width: 435px;
    height: 340px;
  }

  .gallery9{
    width: 405px;
    height: 340px;
  }

  .gallery10{
    width: 355px;
    height: 340px;
  }

  .gall9{
    padding-left: 45px;
  }

  .gall10{
    padding-left: 48px;
  }

  .middle1 {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.col22 {
    position: relative;
}

.col22:hover .gallery1, .col22:hover .gallery2, .col22:hover .gallery3, .col22:hover .gallery4, .col22:hover .gallery5, .col22:hover .gallery6, .col22:hover .gallery7 , .col22:hover .gallery8, .col22:hover .gallery9, .col22:hover .gallery10 {
    opacity: 0.2;
}

.col22:hover .middle1 {
    opacity: 1;
}

.book1{
    background-color: rgb(220, 84, 0);
    border: none;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.book1:hover{
    background-color: transparent;
    border: 2px solid rgb(220, 84, 0);
}

.card-blog{
    border: none;
}

.p1, .p2, .p3{
    width: 220px;
    padding-left: 150px;
}
.card-header{
    background-color: rgb(220, 84, 0);
    padding: 10px;
}
.card-header1{
    background-color: rgb(237, 234, 234);
    padding: 15px;
}

.p-card2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.p-card2:hover{
    box-shadow: none !important;
}
.purchase{
    background-color: rgb(220, 84, 0);
    color: white;
    padding: 10px;
}
.pricing-cards{
    transition: transform 0.3s ease;
}
.pricing-cards:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-select:focus{
    box-shadow: none;
    outline: none;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
}
.table{
    font-weight: bold; 
    color: white; 
    border: none;
    padding: 15px;
    /* width: 250px; */
    background-color: rgb(220, 84, 0);
}
.table:hover{
    color: black;
    background-color: white;
    border: 2px solid rgb(220, 84, 0);
}

.plane{
    color: white;
    background-color: rgb(220, 84, 0);
    font-size: x-large;
    padding: 15px;
    border: 2px solid;
    border-style: dotted;
    cursor: pointer;
}

.plane:hover{
    background-color: white;
    color: black;
    border: 2px solid rgb(220, 84, 0);
    border-style: dotted;
}

.email2{
    border: 2px solid gainsboro;
    border-style: dotted;
}

.logo2{
    padding-left: 480px;
    width: 780px;
}

.about-head{
    color: rgb(220, 84, 0);
    font-family: "Lobster", sans-serif;
}

.footer1{
    background-color: rgb(220, 84, 0);
    color: white;
}

.about-head1{
    color: rgb(220, 84, 0);
}

@media (min-width:320px) and (max-width:480px){
    .logo{
        width: 100px;
    }
    
    .overlay1{
        margin-top: 30px;
    }

    .dinner{
        font-size: large;
    }

    .food{
        font-size: medium;
    }

    .appear{
        color: rgb(220, 84, 0);
        font-size: small;
    }

    .lorem{
        color: white;
        font-size: x-small;
        padding-left: 80px;
        padding-right: 80px;
    }

    .book{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .scroll-button{
        display: none;
    }
    
    .about{
        height: fit-content;
    }

    .about-img{
        width: 250px;
    }
    
    .about-img2{
        right: 0px;
    }

    .special{
        margin-top: 0px;
    }

    .menu-row{
        margin-top: 1600px !important;
    }
    
    .special1{
        top: 270px;
        left: 0px;
    }
    
    .special2{
        top: 750px;
        left: 0px;
    }
    
    .special3{
        top: 1230px;
        left: 0px;
    }

    .special-lorem{
        font-size: medium !important;
    }

    .item1{
        width: fit-content;
    }
    
    .item2{
        width: fit-content;
    }
    
    .item3{
        width: fit-content;
    }

    .menu-lorem{
        padding-left: 50px;
        padding-right: 50px;
    }

    .starters{
        padding-left: 0px;
        text-align: center;
    }

    .main-dish{
        padding-left: 0px;
        text-align: center;
    }

    .dessert{
        padding-left: 0px;
        text-align: center;
    }

    .drinks{
        padding-left: 0px;
        text-align: center;
    }

    .fruit{
        height: fit-content;
    }
    
    .card11{
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 380px !important;
    }

    .team-heading{
        text-align: center;
    }

    .team-card{
        height: 350px;
    }

    .gallery-row{
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-top: 1900px !important;
    }

    .blog-row{
        margin-top: 200px;
    }

    .gallery1{
        width: 390px;
        height: 300px;
    }

    .gall1{
        padding-left: 0px;
    }
    
    .gall2{
        padding-left: 0px;
        margin-top: 20px;
    }
    
    .gallery2{
        width: 390px;
    }

    .second-gallery{
        margin-left: 0px !important;
    }

    .third-gallery{
        margin-left: 0px !important;
    }

    .fourth-gallery{
        margin-left: 0px !important;
    }

    .gallery3{
        width: 390px;
        margin-top: 20px;
    }

    .gall3{
        padding-left: 0px !important;
    }
    
    .gallery4{
        width: 390px;
        margin-top: 20px;
    }
    
    .gallery5{
        width: 390px;
        margin-top: 20px;
    }
    
    .gall4{
        padding-left: 0px;
    }
    
    .gall5{
        padding-left: 0px;
    }
    
    .gallery6{
        width: 390px;
        margin-top: 20px;
    }

    .gall6{
        padding-left: 0px !important;
    }
    
    .gall7{
        padding-left: 0px;
    }
    
    .gallery7{
        width: 390px;
        margin-top: 20px;
    }
    
    .gallery8{
        width: 390px;
        margin-top: 20px;
    }

    .gall8{
        padding-left: 0px !important;
    }
    
    .gallery9{
        width: 390px;
        margin-top: 20px;
    }
    
    .gallery10{
        width: 390px;
        margin-top: 20px;
    }
    
    .gall9{
        padding-left: 0px;
    }
    
    .gall10{
        padding-left: 0px;
    }

    .blog-img{
        height: 2150px;
    }
     
    .news-img{
        height: 320px;
    }

    .footer-img{
        height: 800px;
    }

    .logo2{
        padding-left: 80px !important;
        width: 300px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .logo{
        width: 100px;
    }

    .overlay1{
        margin-top: 50px;
    }
    
    .dinner{
        font-size: x-large;
    }

    .appear{
        font-size: medium;
    }

    .book{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .scroll-button{
        display: none;
    }
    
    .about{
        height: fit-content;
    }

    .about-img{
        width: 300px;
    }
    
    .about-img2{
        right: 140px;
    }

    .specially{
        max-width: 600px;
    }

    .special{
        margin-top: 0px;
        /* max-width: 300px !important; */
    }

    .menu-row{
        margin-top: 1500px !important;
    }
    
    .special1{
        top: 400px;
        left: 5px;
    }
    
    .special2{
        top: 750px;
        left: 0px;
    }
    
    .special3{
        top: 1100px;
        left: 0px;
    }

    .special-lorem{
        font-size: x-large !important;
    }

    /* .item1{
        max-width: 300px;
        height: 350px;
    } */
    
    /* .item2{ */
        /* position: absolute;
        left: 300px;
        margin-top: -350px; */
        /* margin-top: 10px; */
        /* max-width: 300px;
        height: 350px; */
    /* } */
    
    /* .item3{
        max-width: 300px;
        height: 350px;
    }

    .middle{
        bottom: 0px !important;
        left: 80%;
    } */

    .menu-lorem{
        padding-left: 50px;
        padding-right: 50px;
    }

    .starters{
        /* padding-left: 0px; */
        text-align: center;
    }

    .main-dish{
        /* padding-left: 0px; */
        text-align: center;
    }

    .dessert{
        /* padding-left: 0px; */
        text-align: center;
    }

    .drinks{
        /* padding-left: 0px; */
        text-align: center;
    }

    .lorem1{
        /* padding-left: 115px; */
        /* padding-right: 40px; */
    }
    
    .lorem2{
        /* padding-left: 115px; */
        /* padding-right: 40px; */
    }

    .fruit{
        height: fit-content;
    }
    
    .card11{
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: 380px !important;
    }

    .gallery-row{
        margin-top: 2000px !important;
    }

    .blog-row{
        margin-top: 1000px;
    }

    .gallery1{
        width: 320px;
        height: 300px;
    }
    
    .gall2{
        padding-left: 13px;
        margin-top: 20px;
    }
    
    .gallery2{
        width: 320px;
    }

    .gallery3{
        width: 320px;
        margin-top: 20px;
    }
    
    .gallery4{
        width: 320px;
        margin-top: 20px;
    }
    
    .gallery5{
        width: 320px;
        margin-top: 20px;
    }
    
    .gall4{
        padding-left: 13px;
    }
    
    .gall5{
        padding-left: 13px;
    }
    
    .gallery6{
        width: 320px;
        margin-top: 20px;
    }
    
    .gall7{
        padding-left: 13px;
    }
    
    .gallery7{
        width: 320px;
        margin-top: 20px;
    }
    
    .gallery8{
        width: 320px;
        margin-top: 20px;
    }
    
    .gallery9{
        width: 320px;
        margin-top: 20px;
    }
    
    .gallery10{
        width: 320px;
        margin-top: 20px;
    }
    
    .gall9{
        padding-left: 13px;
    }
    
    .gall10{
        padding-left: 15px;
    }
/* 
      .blog-img{
        height: 2150px;
      }

      .blogging-cards{
        margin-top: 40px !important;
      }
    .pricing-row{
        margin-top: 500px;
    }

    .footer-row{
        margin-top: 2px;
    } */
    .news-img{
        height: 320px;
    }

    /* .footer-img{
        height: 950px;
    }

    .listing{
        margin-top: 40px;
    }

    .logo2{
        padding-left: 0px !important;
    }

    .purchase{
        width: 250px;
    }  */
}